<!--semantic tags, SEO: Serach Engine Optimization-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--  localization. --><!--- i18n in angularjs to do localization-->
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!--  routerLink is a directive      -->
        <a [routerLink]="'/home'" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" [routerLinkActive]="'active'" class="nav-link">Products</a>
      </li>
      <li class="nav-item" *ngIf="auth.user">
        <a routerLink="/prime" [routerLinkActive]="'active'" class="nav-link">Prime</a>
      </li>
      <li class="nav-item">
        <a routerLink="/cakes" [routerLinkActive]="'active'" class="nav-link">Cakes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/add-cake" [routerLinkActive]="'active'" class="nav-link">Add Cake</a>
      </li>
      <li class="nav-item">
        <a routerLink="/responsive" [routerLinkActive]="'active'" class="nav-link">Responsive</a>
      </li>
      <li class="nav-item">
        <a routerLink="/form-demo" routerLinkActive="active" class="nav-link">Form Demo</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item float-right">
        <!--   ngIf else     -->
        <a *ngIf="!auth.user; else signout" class="nav-link" mat-icon-button routerLink="/login"
           routerLinkActive="active">Login</a>
        <ng-template #signout>
          <a class="nav-link" mat-icon-button routerLink="/login" routerLinkActive="active" (click)="logout()" >Logout</a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>





