<app-autocomplete></app-autocomplete>
<div class="container">
  <h3>Cake Store- All cakes</h3>
  <table class="table table-bordered table-light">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Cream</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cake of cakes" >
      <td>{{cake.name}}</td>
      <td>{{cake.size}}</td>
      <td><input type="checkbox" [checked]="cake.cream"></td>
      <td>{{cake.price}}</td>
    </tr>
    </tbody>
  </table>
</div>
