<form ngForm #f="ngForm" (ngSubmit)="submit(f)" class="d-flex" style="flex-direction: column">
  <mat-form-field>
    <mat-placeholder>UserName</mat-placeholder>
    <input type="text" matInput name="username" ngModel (input)="usernameInput(f)" minlength="4">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input type="number" matInput name="age" ngModel>
  </mat-form-field>
  <mat-form-field>
    <mat-placeholder>Gender</mat-placeholder>
    <input type="text" matInput name="gender" ngModel>
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>
