<main class="container" style="margin-top: 10px;">
  <mat-card fxFlex="100%" fxFlex.gt-xs="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>Login</mat-card-title>
    <!--  ngForm will be auto added to form element. It will automatically call event.preventDefault()  -->
    <!--  # is declare a variable in html  -->
    <form ngForm fxLayout="column" #f="ngForm" (ngSubmit)="submit(f)">
      <mat-form-field>
        <!--   name + ngModel     -->
        <input matInput type="text" placeholder="Username" name="username" ngModel required (input)="userCheck(f)">
<!--          <p *ngIf="auth.usernameTaken">Username Existed!!!!</p>-->
        <mat-error>Username can't be empty</mat-error>
      </mat-form-field>
      <mat-error *ngIf="auth.usernameTaken"> Username existed</mat-error>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" minlength="6" required name="password" ngModel>
        <mat-error>Password has to be no less than 6 characters long</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="submit" >Login</button> &nbsp;
        <button mat-raised-button color="primary" type="submit" routerLink="/register">Register</button>
      </div>
    </form>
  </mat-card>
</main>
