.container-row{
  display: flex;
  flex-direction: row;
}
.container-row-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.container-column{
  display: flex;
  flex-direction: column;
}
.container-column-reverse{
  display: flex;
  flex-direction: column-reverse;
}

@media all and (max-width: 1200px) {
  .container-row-reverse{
    flex-direction: column;
  }
}
