<div class="container-row bg-danger">
  <h4>1</h4>
  <h4>2</h4>
  <h4>3</h4>
</div>
<div class="container-row-reverse bg-dark">
  <h4>1</h4>
  <h4>2</h4>
  <h4>3</h4>
</div>
<div class="container-column bg-info">
  <h4>1</h4>
  <h4>2</h4>
  <h4>3</h4>
</div>
<div class="container-column-reverse bg-warning">
  <h4>1</h4>
  <h4>2</h4>
  <h4>3</h4>
</div>

<div class="container-row bg-primary align-items-stretch">
  <div class="container-column m-2 bg-secondary" style="width: 20%;">
    <p>A</p>
    <p>B</p>
    <p>C</p>
  </div>
  <div class="container-row-reverse m-2 bg-success" style="width: 30%;">
    <p >A</p>
    <p >B</p>
    <p >C</p>
  </div>
</div>
