<form [formGroup]="userGroup" style="display: flex ;flex-direction: column" (ngSubmit)="submit()" >
  <mat-form-field>
    <mat-label>UserName</mat-label>
    <input type="text" matInput formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Age</mat-label>
    <input type="text" matInput formControlName="age">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <input type="text" matInput formControlName="gender">
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>
