<app-header></app-header>
<!--<div class="container">-->
<!--  <h2>App component {{title}}</h2>-->
<!--  <a href="{{link}}">Google</a>-->
<!--&lt;!&ndash;  []: attribute binding&ndash;&gt;-->
<!--  <a [href]="link">    Google2</a>-->
<!--&lt;!&ndash;  (): event binding&ndash;&gt;-->
<!--  <button class="btn btn-outline-danger" (click)="onClick();">Click it</button>-->
<!--&lt;!&ndash;  two way binding &ndash;&gt; &lt;!&ndash; banana in a box&ndash;&gt;-->
<!--  Input1:<input type="text" [(ngModel)]="title">-->
<!--  Input2:<input type="text" [value]="title" (input)="updateTitle($event)">-->
<!--</div>-->

<!--<app-products></app-products>-->
<!--<app-home></app-home>-->
<router-outlet></router-outlet>
