<p>parent Component!</p>
<h2 #h2>Child data: {{parentData}}</h2>
<app-child (updateData)="setData($event)">
  <div>
    Reserve me please!!!
  </div>
  <h3 #cmp>Hello</h3>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </ul>
</app-child>
<app-child></app-child>
<app-child></app-child>
