<div class="container">
  <form class="form-group" ngForm #f="ngForm" (ngSubmit)="submit(f)">
    Name: <input class="form-control" type="text" name="name" ngModel>
    Size: <input  class="form-control" type="number" name="size" ngModel>
    Cream: <input class="form-check" type="checkbox" name="cream" ngModel>
    Price: <input class="form-control" type="number" name="price" ngModel>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
