<h2>PRODUCTS</h2>
<main class="products-container">
  <section class="products-filter-section">
    <select name="" class="form-control" (change)="updateCurrencyCode($event)">
      <!--  selceted /.    -->
      <option [selected]="cs.currencyCode === 'USD'" value="USD">US Dollar</option>
      <option [selected]="cs.currencyCode === 'CNY'" value="CNY">Chinese Yuan</option>
      <option [selected]="cs.currencyCode === 'JPY'" value="JPY">Japanese Yuan</option>
    </select>
    <label>
      Min <input type="number" class="form-control" [(ngModel)]="min">
    </label>
    <label>
      Max <input type="number" class="form-control" [(ngModel)]="max">
    </label>
    <button class="btn btn-danger" (click)="addAProduct()"> Add Product</button>
  </section>

  <section class="products-list-section">
    <div class="products-list-container">
      <!--  Parent Child Communication -->
      <!--     Parent send a variable product, and in .ts child receive it with @Input-->
      <ng-container *ngIf="products">
        <!--  ng-template vs ng-container vs ng-content      -->
        <app-product-overview *ngFor="let p of products | priceRange: min : max" [product]="p"
                              [item]="parentMsg"></app-product-overview>
      </ng-container>
      <ng-container>
        <table class = "table table-bordered table-light">
          <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>brand</th>
            <th>price</th>
            <th>image</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let p of products">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.brand}}</td>
            <td>{{p.price}}</td>
            <td><input type="checkbox" [checked]="p.image"></td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </section>
</main>





