<div *ngIf="product" class="container-fluid">
  <!--add *ngIf here to ensure product is not null. When product is null, angulor will not add this template-->
  <div class="row product-detail-container">
    <div class="col-sm-9">
      <div class="product-detail-title">
        <h1>{{product.name}}</h1>
      </div>
      <div class="product-detail-image-container text-center">
        <img src="{{product.image}}" class="product-detail-image">
      </div>
    </div>
    <div class="col-sm-3 product-detail-info-container">
      <div class="product-detail-info-price">
        {{product.price | currencyExchange: cs.currencyCode | currency: cs.currencyCode}}
      </div>
      <div class="product-detail-info-brand">
        Sold by {{product.brand}}
      </div>
      <div class="product-detail-info-cart-button-container">
        <span>
          <button class="btn btn-primary btn-block">ADD TO CART</button>
          <button class="btn btn-dark btn-block" (click)="goToNext()" > Next Item</button>
          <button class="btn btn-dark btn-block" (click)="goPrevious()" > Prev Item</button>
        </span>
      </div>
    </div>
  </div>
</div>




