<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Notes</title>
</head>
<body>
<ul>
  <h4>Component</h4>
  <li>
    Angular Directive with template
    @Component({// metadata such as selector})
    Data binding:
    > One way: {{}} bind to component instance ( AngularJS bind to either $scope or controller instance)
    > Attribute binding [href]
    > Event binding: (input)
    > Two way: needs FormsModule to use [(ngModel)] banana in a box. Or use [value] (input) etc.
  </li>
  <h4>Module System - ES6 feature</h4>
  <li>
    Named export: can have multiple, need to match variable name when import
    default export: use default keyword, can only have one per file, no need to match name.
  </li>
  <h43>Directives</h43>
  <li>
    > Attribute Directive
    Changed DOM element/component attribute i.e. [routerLink]
    > Structural Directive
    manipulate DOM structure, *ngFor *ngIf else syntax introduced @Angular 4_, can use only one per element.
  </li>
  <h4>Custome Directive - either attribute or structural</h4>
  <li>
    @Directive({selector:'[]'})
    ViewContainer, Template ( ViewContainerRef: get reference to ViewContainer....)
    template is web component standard, Angular use ng-template to implement that.
  </li>
  <h4> ********Component Communication</h4>
  <li>
    Parent => Child
    > In child, use @Input('option to match variable name') to specify the variable which is used to receive data from
    parent
    > In parent, use attribute binding to pass parent data to child through attribute on Child element
    Child => Parent
    > In child, create an EventEmitter with @Output() to emit an event which carries data to parent.
    > In parent, use event binding to listen to the event and extract data($event)
    Service
    @Injectable({provideIn: 'root or other module'}) // introduced in Angular 6
    before angular 6, declare service in providers: []
    Inject service in constructor
    Injected service should be public if it's used in templates. Otherwise, angular AOT compiler will complain
  </li>
  <h4>Routing</h4>
  <li>
    >RouterModule.forRoot() configure routing for app module (root level)
    > RouterModule.forChild() configure sub-routing, or nested routing
    > route object: path, component, canActivate/ canLoad, loadChildren, redirectTo....
    > use routerLink for changing route(URL)
    If the first segment begins with /, the router will look up the route from the root of the app.
    If the first segment begins with ./, or doesn't begin with a slash, the router will instead look in the children of
    the current activated route.
    And if the first segment begins with ../, the router will go up one level.
    > router-outlet as a placeholder to load components

    ActivatedRoute: an object hold info about current routing.
    snapshot: snapshot of current active routing

    Lazy loading module: loadChildren, syntax is between Angular 8 and 7 (or before)
    Guard Service
    > @Injectable()
    > need to implement canActivate/canLoad/canActivateChild interface
  </li>
  <h4>Local Storage</h4>
  <li>
    lite weight database for browser.
    data will not be cleared after page refresh or closed.
    key/ value pair in string format
    no expiration time
  </li>
  <h4>Pipe</h4>
  <li>
    @Pipe({name: string, pure: boolean})
    > a function which transform data format in template.
    > pure change: primitive value change or array/object reference change.
    > impure change: array element change or object property change
    > pure pipe: can detect pure change only
    > impure pipe: can detect both pure change and impure change ***very slow***

    async pipe
    Observable/ promise | async : automatically listens to the value change
  </li>
  <h4>View Encapsulation</h4>
  <li>
    Encapsulate CSS styles for component
    ViewEncapsulation.ShadowDom(100%)
    > Component Style won't go outside , outside styles can't go inside.
    ViewEncapsulation.Emulated(50%)
    > Component Style won't go outside , outside styles can go inside.
    ViewEncapsulation.None(0%)
    > Component Style can go outside , outside styles can go inside.
  </li>
  <h4>HTTP</h4>
  <li>
    HttpClientModule(Before 4.3, it's called HttpModule)
    HttpClient service to send ajax request, return type is observable, can use .toPromise to turn to Promise
  </li>
  <h4>Reactive Programming</h4>
  <li>
    Observable (from rxjs - Reactive eXtenstion JavaScript)
    > Observable is a data source object which can continuously send data to all its subscribers/observers overtime
    > can preproess data using .pipe() and apply rxjs operators, i.e. map, switchMap
    > Lazy, if no subscribe, it wont' execute
  </li>
  <h4> Form Support</h4>
  <li>
    > collect user's input, form validations, form data submission
    > ngForm(and novalidate) auto added by angular to form element
    prevent default form submission. create a FormGroup object
    > ngModel + name
    will instruct angular to take control the input, create formControl obj
    > ngModelGroup
    ******************************
    > Template-driven forms (Angular built-in directive/component)
    all logics (config, validation, submission) go inside the template
    simple form
    not easy for unit testing
    angular will create form instance/object(not accessible to devs)
    > Reactive forms
    most of the logics live in component
    use some directive attribute bindings provided in ReactiveFormsModule
    complicated/customized form
    easy for unit test
    developers will create form instances/objects to control the form
    > Form Validation
    errors -> null, no validation error
    errors -> {required: 'error msg', minlength: 'error msg'}
    validator is a func takes form instances and return validation errors
    states: touched, valid, ditry/pristine, submitted
  </li>
  <h4>How to access DOM element/Child element in angular component</h4>
  <li>
    @ViewChild/@ViewChildren @ContentChild/@ContentChildren
    Directive can use @HostBinding @HostListening to modify DOM element style or add listener
  </li>
  <h4>Change Detection</h4>
  <li>
    The process Angular runs to synchronize model and view. (Compare with AngularJS Digest Cycle)
    Monkey patching - a technology to patch browser native APIs (addEventListener, setTimeout...)
    it will modify angular when async operation( ajax, broswer event, timed event) finished
    zone.js is a library to do monkey patching, angular use ngZone to implement zone.js

    Change Detection will run all change detectors starting from root component
    OnPush strategy can be used to further optimize angular performance
  </li>
  <li>
    LifeCycle - component/directive HookMethod
    constructor
    ngOnInit - data initialization
    ngOnDestroy - before component will be destroyed.e.g. navigate away.
    ngOnChanges - will be invoked whenever input data binding changes(pure change)
    ngDoCheck - invoked when parent change detector runs
    // for component only
    ngAfterViewInit - invoked after child/DOM components ready
    ngAfterViewChecked
    ngAfterContentInit - invoked after contents passed from parents done initialization
    ngAfterContentChecked
  </li>
  <li>
    Automation Test
    driver selenium, angular use protractor to do automation test.
    ng e2e to start the automation test.
  </li>
  <li>
    unit testing
    Karma + Jasmin to do unit test
    Karma is the test runner, tesing framework
    Jasmin is the assertion library.
    keywords:
    Stub: predefine behaviors
    spy: special stub, can take record of invoke count
    mock: fake an object with behaviors you defined
  </li>
</ul>
</body>
</html>





























