<h2>HOME</h2>
<app-parent></app-parent>
<app-product-overview [product]="product"></app-product-overview>
<h4>Directives</h4>
<ul>
<!--  modify the attribute, doesn't modify the structure-->
  <li>Attribute directive</li>
<!--  modify the DOM structure-->
  <li>Structural directive</li>
</ul>
<p>
  Input1: <input type="text" [(ngModel)]="myClass">
</p>
<p [ngClass]="myClass">Magic Class</p>
<p [class]="myClass">AnotherMagic Class1</p>
<!--ngClass can receive condition-->
<p [ngClass]="{'btn-danger' : myClass ==='danger', 'btn-success': myClass === 'success '}">Magic Class 1</p>
<!--ngStyle is similar-->

<hr> <!-- HoRizontal line-->
<input type="checkbox" [(ngModel)]="flag">
<p *ngIf="flag" appColorAlertRedHello> Login</p>
<p appMyShow [show]="!flag"> LogOut</p>
<p *appMyIf="flag">MY IF LOG IN</p> <!-- * is a syntax sugar-->
<!--Original Version-->
<!-- ng-template is an angular implementation of template-->
<!--<ng-template [appMyIf]="flag">-->
<!--  <p>MY IF LOG IN</p>-->
<!--</ng-template>-->
<p appHighlight> appHighligth Directive</p>
<!--<template>-->
<!--  Hi, Can you see me.-->
<!--</template>-->

