<div fxLayout fxLayoutAlign="center" style="margin: 50px 50px;">
  <mat-card fxLayout="column" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 auto">
    <mat-card-title>Register</mat-card-title>
    <form fxLayout="column" [formGroup]="registerFormGroup" (ngSubmit)="register()">
      <mat-form-field>
        <mat-placeholder>Username</mat-placeholder>
        <!--        <input type="text" matInput [formControl]="ufc">-->
        <input type="text" matInput formControlName="username" (input)="usernameCheck($event)">
<!--        <mat-error>-->
<!--          <p *ngIf="auth.usernameTaken">Username Exsited</p>-->
<!--        </mat-error>-->
<!--        <mat-error  *ngIf="registerFormGroup.get('username').getError('usernameTaken')">-->
<!--          Username has already existed.-->
<!--        </mat-error>-->
        <mat-error *ngIf="registerFormGroup.get('username').getError('required')">
          Username can't be empty!!!!
        </mat-error>
        <mat-error *ngIf="registerFormGroup.get('username').getError('minlength')">
          Username has to be no less than 3 characters
        </mat-error>
      </mat-form-field>
      <div fxLayout="column" formGroupName="passwords">
        <mat-form-field>
          <mat-placeholder>Password</mat-placeholder>
          <!--          <input type="password" matInput [formControl]="pfc">-->
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <mat-form-field>
          <mat-placeholder>Confirm Password</mat-placeholder>
          <!--          <input type="password" matInput [formControl]="cpfc">-->
          <input type="password" matInput formControlName="confirmPassword">
        </mat-form-field>
        <mat-error>
          {{registerFormGroup.get('passwords').getError('passwordsNotMatch')}}
        </mat-error>
      </div>
      <p>
        <button type="submit" mat-raised-button color="primary" [disabled]="!registerFormGroup.valid">Register</button>
      </p>
    </form>
  </mat-card>
</div>






